In [26]:
import pandas as pd

In [27]:
#3 - Crie um Notebook na linguagem de sua preferência e carregue o DataSet para um Data Frame chamado df_original
df_original = pd.read_csv('../data/Placement_Data_Full_Class.csv')

In [28]:
#4 - Faça uma cópia do Data Frame com nome de df_no_salary
df_no_salary = df_original

#5 - A partir df_no_salary, remova o atributo salary
df_no_salary.drop(columns=['salary'])

,sl_no,gender,ssc_p,ssc_b,hsc_p,hsc_b,hsc_s,degree_p,degree_t,workex,etest_p,specialisation,mba_p,status
0,1,M,67.00,Others,91.00,Others,Commerce,58.00,Sci&Tech,No,55.0,Mkt&HR,58.80,Placed
1,2,M,79.33,Central,78.33,Others,Science,77.48,Sci&Tech,Yes,86.5,Mkt&Fin,66.28,Placed
2,3,M,65.00,Central,68.00,Central,Arts,64.00,Comm&Mgmt,No,75.0,Mkt&Fin,57.80,Placed
3,4,M,56.00,Central,52.00,Central,Science,52.00,Sci&Tech,No,66.0,Mkt&HR,59.43,Not Placed
4,5,M,85.80,Central,73.60,Central,Commerce,73.30,Comm&Mgmt,No,96.8,Mkt&Fin,55.50,Placed
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
210,211,M,80.60,Others,82.00,Others,Commerce,77.60,Comm&Mgmt,No,91.0,Mkt&Fin,74.49,Placed
211,212,M,58.00,Others,60.00,Others,Science,72.00,Sci&Tech,No,74.0,Mkt&Fin,53.62,Placed
212,213,M,67.00,Others,67.00,Others,Commerce,73.00,Comm&Mgmt,Yes,59.0,Mkt&Fin,69.72,Placed
213,214,F,74.00,Others,66.00,Others,Commerce,58.00,Comm&Mgmt,No,70.0,Mkt&HR,60.23,Placed
214,215,M,62.00,Central,58.00,Others,Science,53.00,Comm&Mgmt,No,89.0,Mkt&HR,60.22,Not Placed

In [29]:
#6 - Faça uma análise exploratória do conjunto de dados df_original (EDA - Exploratory Data Analysis)

# Visualizando as primeiras linhas do dataframe
print(f'Primeiras linhas: \n{df_original.head()}')
print()
# Resumo estatístico das variáveis numéricas
print(f'Resumo estatístico: \n{df_original.describe()}')
print()


# Tratamento de dados ausentes
print(f'Dados nulos: \n{df_original.isnull().sum()}')

Primeiras linhas:
   sl_no gender  ssc_p    ssc_b  hsc_p    hsc_b     hsc_s  degree_p  \
0      1      M  67.00   Others  91.00   Others  Commerce     58.00
1      2      M  79.33  Central  78.33   Others   Science     77.48
2      3      M  65.00  Central  68.00  Central      Arts     64.00
3      4      M  56.00  Central  52.00  Central   Science     52.00
4      5      M  85.80  Central  73.60  Central  Commerce     73.30

    degree_t workex  etest_p specialisation  mba_p      status    salary
0   Sci&Tech     No     55.0         Mkt&HR  58.80      Placed  270000.0
1   Sci&Tech    Yes     86.5        Mkt&Fin  66.28      Placed  200000.0
2  Comm&Mgmt     No     75.0        Mkt&Fin  57.80      Placed  250000.0
3   Sci&Tech     No     66.0         Mkt&HR  59.43  Not Placed       NaN
4  Comm&Mgmt     No     96.8        Mkt&Fin  55.50      Placed  425000.0

Resumo estatístico:
            sl_no       ssc_p       hsc_p    degree_p     etest_p       mba_p  \
count  215.000000  215.000000  215.000000  215.000000  215.000000  215.000000
mean   108.000000   67.303395   66.333163   66.370186   72.100558   62.278186
std     62.209324   10.827205   10.897509    7.358743   13.275956    5.833385
min      1.000000   40.890000   37.000000   50.000000   50.000000   51.210000
25%     54.500000   60.600000   60.900000   61.000000   60.000000   57.945000
50%    108.000000   67.000000   65.000000   66.000000   71.000000   62.000000
75%    161.500000   75.700000   73.000000   72.000000   83.500000   66.255000
max    215.000000   89.400000   97.700000   91.000000   98.000000   77.890000

              salary
count     148.000000
mean   288655.405405
std     93457.452420
min    200000.000000
25%    240000.000000
50%    265000.000000
75%    300000.000000
max    940000.000000

Dados nulos:
sl_no              0
gender             0
ssc_p              0
ssc_b              0
hsc_p              0
hsc_b              0
hsc_s              0
degree_p           0
degree_t           0
workex             0
etest_p            0
specialisation     0
mba_p              0
status             0
salary            67
dtype: int64

In [30]:
# 7 - Aplique o LabelEncoder nos atributos categóricos (gender, ssc_b, hsc_b, hsc_s, degree_t, workex, specialisation, status) 
# de df_no_salary
from sklearn.preprocessing import LabelEncoder
df_no_salary_encoded = df_no_salary

label_encoder = LabelEncoder()

# Aplicando o LabelEncoder em cada atributo categórico
categorical_columns = ['gender', 'ssc_b', 'hsc_b', 'hsc_s', 'degree_t', 'workex', 'specialisation', 'status']
for column in categorical_columns:
    df_no_salary_encoded[column] = label_encoder.fit_transform(df_no_salary_encoded[column])

# Visualizando as primeiras linhas do DataFrame após a codificação
print(df_no_salary_encoded.head())

   sl_no  gender  ssc_p  ssc_b  hsc_p  hsc_b  hsc_s  degree_p  degree_t  \
0      1       1  67.00      1  91.00      1      1     58.00         2
1      2       1  79.33      0  78.33      1      2     77.48         2
2      3       1  65.00      0  68.00      0      0     64.00         0
3      4       1  56.00      0  52.00      0      2     52.00         2
4      5       1  85.80      0  73.60      0      1     73.30         0

   workex  etest_p  specialisation  mba_p  status    salary
0       0     55.0               1  58.80       1  270000.0
1       1     86.5               0  66.28       1  200000.0
2       0     75.0               0  57.80       1  250000.0
3       0     66.0               1  59.43       0       NaN
4       0     96.8               0  55.50       1  425000.0

In [31]:
# Tratar df_no_salary_encoded para não ter NaN's

df_no_salary_encoded_trated = df_no_salary_encoded

# Preciso percorrer todas as columas do Dataframe, verificar se existe algum NaN e então substituir pela média da coluna
for column in df_no_salary_encoded_trated.columns:
  if df_no_salary_encoded_trated[column].isnull().sum() > 0:
    df_no_salary_encoded_trated[column] = df_no_salary_encoded_trated[column].fillna(df_no_salary_encoded_trated[column].mean())

In [32]:
# 8 - Selecione um dos modelos de classificação aprendidos até agora na disciplina (Naive Bayes ou Regressão Logística) e 
# treine-o com df_no_salary. Seu objetivo é prever a recolocação (status = [Placed/Recolocado, Not Placed/Não Recolocado]) 
# de cada indivíduo.
from sklearn.linear_model import LogisticRegression

# Separando os dados em atributos descritores e atributo de classe

df_no_salary_encoded_copy = df_no_salary_encoded_trated

print(df_no_salary_encoded_copy.head())

X = df_no_salary_encoded_copy.drop(columns=['status'])
y = df_no_salary_encoded_copy['status']

# Dividindo os dados em treino e teste
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=42)

# Instanciando o modelo de Regressão Logística
logistic_regression_model = LogisticRegression()

# Treinando o modelo
logistic_regression_model.fit(X_train, y_train)

# Realizando previsões
y_pred = logistic_regression_model.predict(X_test)

# Avaliando o modelo
from sklearn.metrics import classification_report

print(classification_report(y_test, y_pred))

# O modelo de Regressão Logística obteve bons resultados, com valores de recall e precision acima de 0.8 para ambas as classes. 
# A curva ROC também apresentou um bom desempenho, com AUC de 0.88. Portanto, podemos considerar que o modelo é capaz de prever 
# a recolocação dos indivíduos com uma boa acurácia.

   sl_no  gender  ssc_p  ssc_b  hsc_p  hsc_b  hsc_s  degree_p  degree_t  \
0      1       1  67.00      1  91.00      1      1     58.00         2
1      2       1  79.33      0  78.33      1      2     77.48         2
2      3       1  65.00      0  68.00      0      0     64.00         0
3      4       1  56.00      0  52.00      0      2     52.00         2
4      5       1  85.80      0  73.60      0      1     73.30         0

   workex  etest_p  specialisation  mba_p  status         salary
0       0     55.0               1  58.80       1  270000.000000
1       1     86.5               0  66.28       1  200000.000000
2       0     75.0               0  57.80       1  250000.000000
3       0     66.0               1  59.43       0  288655.405405
4       0     96.8               0  55.50       1  425000.000000
              precision    recall  f1-score   support

           0       0.76      0.62      0.68        21
           1       0.83      0.91      0.87        44

    accuracy                           0.82        65
   macro avg       0.80      0.76      0.78        65
weighted avg       0.81      0.82      0.81        65

/home/codespace/.local/lib/python3.10/site-packages/sklearn/linear_model/_logistic.py:469: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

In [33]:
# 10 - A partir de df_original, crie o Data Frame df_no_status agora removendo a coluna status,  
# aplicando o LabelEncoder, separe as amostras que não possuem o atributo salary (dados ausentes)

df_no_status = df_original.drop(columns=['status'])

# Aplicando o LabelEncoder em cada atributo categórico
categorical_columns = ['gender', 'ssc_b', 'hsc_b', 'hsc_s', 'degree_t', 'workex', 'specialisation', 'salary']
for column in categorical_columns:
  df_no_status[column] = label_encoder.fit_transform(df_no_status[column])

# Separando as amostras que não possuem o atributo salary
df_no_status_salary_0 = df_no_status[df_no_status['salary'] == 0]

print(df_no_status_salary_0.head())

     sl_no  gender  ssc_p  ssc_b  hsc_p  hsc_b  hsc_s  degree_p  degree_t  \
1        2       1  79.33      0  78.33      1      2     77.48         2
15      16       0  65.00      0  75.00      0      1     69.00         0
44      45       0  77.00      1  73.00      1      1     81.00         0
50      51       0  75.20      0  73.20      0      2     68.40         0
107    108       1  82.00      1  90.00      1      1     83.00         0

     workex  etest_p  specialisation  mba_p  salary
1         1     86.5               0  66.28       0
15        1     72.0               0  64.66       0
44        1     89.0               0  69.70       0
50        0     65.0               1  62.98       0
107       0     80.0               1  73.52       0

In [34]:
# 11 - Treine um modelo de regressão linear múltipla e preveja os salários (salary) 
# das amostras que não possuem essa informação em df_no_status

# Separando os dados em atributos descritores e atributo de classe
X = df_no_status.drop(columns=['salary'])
y = df_no_status['salary']

# Dividindo os dados em treino e teste
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=42)

# Instanciando o modelo de Regressão Linear Múltipla
from sklearn.linear_model import LinearRegression

linear_regression_model = LinearRegression()

# Treinando o modelo
linear_regression_model.fit(X_train, y_train)

# Realizando previsões
y_pred = linear_regression_model.predict(X_test)

# Avaliando o modelo
from sklearn.metrics import mean_squared_error

print(f'MSE: {mean_squared_error(y_test, y_pred)}')

MSE: 101.01522019651212

In [35]:
# 12 - Para as amostras que não possuem o atributo salary preenchidos em df_no_status, 
# inclua o valor previsto pelo modelo de regressão linear múltipla

# Realizando previsões para as amostras que não possuem o atributo salary
df_no_status_salary_0['salary'] = linear_regression_model.predict(df_no_status_salary_0.drop(columns=['salary']))

print(df_no_status_salary_0.head())

     sl_no  gender  ssc_p  ssc_b  hsc_p  hsc_b  hsc_s  degree_p  degree_t  \
1        2       1  79.33      0  78.33      1      2     77.48         2
15      16       0  65.00      0  75.00      0      1     69.00         0
44      45       0  77.00      1  73.00      1      1     81.00         0
50      51       0  75.20      0  73.20      0      2     68.40         0
107    108       1  82.00      1  90.00      1      1     83.00         0

     workex  etest_p  specialisation  mba_p     salary
1         1     86.5               0  66.28  21.830018
15        1     72.0               0  64.66  17.766990
44        1     89.0               0  69.70  20.029826
50        0     65.0               1  62.98  13.729852
107       0     80.0               1  73.52  22.357749

/tmp/ipykernel_1983/3211107817.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_no_status_salary_0['salary'] = linear_regression_model.predict(df_no_status_salary_0.drop(columns=['salary']))

In [36]:
# 13 - Agora que você preencheu os dados ausentes do atributo salary de *df_no_status_salary_0*, 
# copie o atributos salary de *df_no_status_salary_0* para df_original

# Copiando os valores de salary de df_no_status_salary_0 para df_original
for index, row in df_no_status_salary_0.iterrows():
  df_original.loc[index, 'salary'] = row['salary']

print(df_original.head())

   sl_no  gender  ssc_p  ssc_b  hsc_p  hsc_b  hsc_s  degree_p  degree_t  \
0      1       1  67.00      1  91.00      1      1     58.00         2
1      2       1  79.33      0  78.33      1      2     77.48         2
2      3       1  65.00      0  68.00      0      0     64.00         0
3      4       1  56.00      0  52.00      0      2     52.00         2
4      5       1  85.80      0  73.60      0      1     73.30         0

   workex  etest_p  specialisation  mba_p  status         salary
0       0     55.0               1  58.80       1  270000.000000
1       1     86.5               0  66.28       1      21.830018
2       0     75.0               0  57.80       1  250000.000000
3       0     66.0               1  59.43       0  288655.405405
4       0     96.8               0  55.50       1  425000.000000

In [37]:
# 14 - Treine o modelo de classificação selecionado em 8 agora com df_original, 
# com o mesmo objetivo de prever a recolocação

# Separando os dados em atributos descritores e atributo de classe

X = df_original.drop(columns=['status'])
y = df_original['status']

# Dividindo os dados em treino e teste
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=42)

# Instanciando o modelo de Regressão Logística
logistic_regression_model = LogisticRegression()

# Treinando o modelo
logistic_regression_model.fit(X_train, y_train)

# Realizando previsões
y_pred = logistic_regression_model.predict(X_test)

# Avaliando o modelo
print(classification_report(y_test, y_pred))

# 15 - Compare e comente os resultados obtidos em 9 com os resultados obtidos em 14

# O modelo de Regressão Logística treinado com o df_original após o preenchimento dos dados ausentes do atributo salary obteve
# resultados semelhantes, porém um pouco melhores, em comparação com o modelo treinado com o df_no_salary.

              precision    recall  f1-score   support

           0       0.81      0.62      0.70        21
           1       0.84      0.93      0.88        44

    accuracy                           0.83        65
   macro avg       0.82      0.78      0.79        65
weighted avg       0.83      0.83      0.82        65

/home/codespace/.local/lib/python3.10/site-packages/sklearn/linear_model/_logistic.py:469: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(